<!DOCTYPE html>
<html ng-app="laserLog">
	<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheet.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
  </head>
    <header>
      <h1 class="text-center">HeatSync Laser Log</h1>
      <h2 class="text-center"> - an Angular project - </h2>
    </header>
<body ng-controller="LogController as log" style="padding: 10px 200px 200px 200px">
  <!-- Material Container -->
  <div class="list-group">
    <div class="list-group-item" ng-controller="TabController as tabber">
    <ul class="nav nav-pills">
      <li ng-repeat="material in log.materials" ng-class="{ active: tabber.checkTab(material.id) }">
        <a ng-click="tabber.setTab(material.id)" ng-href="#">
            {{material.name}}</a>
      </li>
      <ul class="nav nav-pills nav-right">
      <li>
        <a ng-click="tabber.setTab(0)" ng-href="#">
          Edit</a>
      </li>
      </ul>
      </ul>
      <div class="container-fluid">
        <div class="addInfoArea" ng-show="tabber.checkTab(0)">
            <form class="form" role="form">
              <legend>Add New Cut</legend>
              <div class="form-group">
                <label for="userName">
                  User Name
                </label>
                <input type="text" class="form-control" placeholder="Enter Username Here." id="userName">
              </div>
              <div class="form-group">
                <label for="projectName">Project Title
                </label>
                <input type="text" class="form-control" placeholder="Enter Project Title Here." id="projectName">
              </div>
              <div class="form-group">
                <label for="time">
                  Time
                </label>
                <input type="time" class="form-control" id="time">
                </div>
                <div class="form-group">
                <label for="date">
                  Date
                </label>
                <input type="date" class="form-control" id="date">
              </div>
              <div class="form-group">
                <label for="material">
                  Material: 
                </label>
                <select name="material" class="form-control">
                  <option ng-repeat="material in log.materials">{{material.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="thickness">
                  Thickness (in mm)
                </label>
                <input type="number" class="form-control" id="thickness">
              </div>
              <div class="form-group">
                <label for="speed">
                  Cut Speed
                </label>
                <input type="number" class="form-control" id="speed">
              </div>
              <div class="form-group">
                <label for="power">
                  Cut Power
                </label>
                <input type="number" class="form-control" id="power">
              </div>

            </form>
        </div>
        <div class="container" ng-repeat="material in log.materials">
        <table class="table" ng-show="tabber.checkTab(material.id)">
          <tr>
            <th>
              <a href="" ng-click="predicate = 'name'; reverse=false">Name</a>(<a href="" ng-click="predicate = '-name'; reverse=false">^</a>)
            </th>
            <th>
              <a href="" ng-click="predicate = 'thickness'; reverse=!reverse">Thickness (in mm)</a>
            </th>
            <th>
              <a href="" ng-click="predicate = 'cut'; reverse=!reverse">Cut Speed</a>
            </th>
            <th>
              <a href="" ng-click="predicate = 'power'; reverse=!reverse">Cut Power</a>
            </th>
          </tr>
          <tr ng-repeat="project in material.projects | orderBy:predicate:reverse">
            <td>{{project.userName}}</td>
            <td>{{project.thickness}}</td>
            <td>{{project.speed}}</td>
            <td>{{project.power}}</td>
          </tr>
        </table>
      </div>
  </div>
  </div>
  </div>
</body>
</html>

